body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

p{
    margin-top: 0px;
    font-weight: 500;
    color: #222;
}

.playerBody{
    height: 100vh;
    width: 100%;
    background: linear-gradient(0deg, rgba(231,53,137,1) 0%, rgba(214,98,128,1) 53%, rgba(226,22,72,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.playerBody .playerBox{
    width: 30%;
    background: #fff;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px #fff;
}

.playerBody .playerBox .musicImage{
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
    margin-bottom: 1em;
}

.playerBody .playerBox .musicImage img{
    border-radius: 20px;
    width: 100%;
}

.rangeBox{
    position: relative;
}

.rangeBox .musicRange {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 20px;
}
  
.rangeBox .musicRange:hover {
    opacity: 1;
}
  
.rangeBox .musicRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: linear-gradient(0deg, rgba(231,53,137,1) 0%, rgba(214,98,128,1) 53%, rgba(226,22,72,1) 100%);
    cursor: pointer;
    border-radius: 20px;
}
    
.rangeBox span{
    position: absolute;
    font-size: 13px;
    color: #aaa;
}

.rangeBox span.currentTimeTxt{
    left: 0;
    top: 25px;
}

.rangeBox span.endingTime{
    right: 0;
    top: 25px;
}

.musicController{
    margin-top: 50px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.musicController .musicLooper{
    text-align: left;
}

.musicController .musicLooper i{
    display: none;
    margin: auto 0;
}

.musicController .musicLooper i.current{
    display: block;
    color: #e21648;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.musicController .loopAlerts p{
    display: none;
}

.musicController .loopAlerts{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -50px;
    width: 100%;
}

.musicController .loopAlerts p.current{
    display: block;
    font-weight: 400;
    font-size: 14px;
    padding: 10px 35px;
    width: fit-content;
    border: 1px solid #ccc;
    border-radius: 30px;
    color: #5f5f5f;
    background: #f5f5f5;
    margin: 0 auto;
}

.playController{
    display: flex;
}

.playController i{
    color: #e21648;
    font-size: 26px;
    margin: auto 0;
}

.playController .playButton{
    margin: 0px 30px;
}

.playController .playButton i{
    font-size: 40px;
    display: none;
}

.playController .playButton i.current{
    display: block;
}

.playList i{
    color: #e21648;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#songName{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#audioPlayer{
    position: absolute;
    top: -200px;
    opacity: 0;
}
